@import "vars";
@import "header";
@import "footer";

body {
    background-color: map-get($colores, backgroud);
}
.bienvenido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgb(246, 246, 246);
    font-family: $fontFamily;
    font-size: xx-large;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 0px;
    animation: bienvenido 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 @keyframes bienvenido {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
.home {
    width: 100vw;
    & .home__row {
        width: 100vw;
    }
    & .home__carousel {
        width: 100vw;
        margin-bottom: 25px;
        & .home__carousel1, .home__carousel2 {
            display: flex;
            flex-direction: column;
            margin: 10px;
            padding: 10px;
            width: 100vw;
            & h3 {
                font-family: $fontFamily;
                font-weight: 1000;
                text-align: center;
                font-size: xx-large;
                text-decoration: underline;
            }
        }
    }
    .ayelen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        & .ayelen__img {
            width: 45vw;
            border: 1px solid black;
            border-radius: 50%;
        }
        & .ayelen__desc {
            width: 45vw;
            font-family: $fontFamily;
            text-align: center;
        }
    }
    
}
.producto {
    width: 100vw;
    & &__contenedor1 {
        display: flex;
        border: 1px solid black;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        margin: 5px;
    }
    & &__contenedor--col {
        @extend .producto__contenedor1;
        flex-direction: column;
    }
    & &__imagen {
        width: 150px;
        padding: 5px;
    }
    & &__texto {
        font-family: $fontFamily;
        padding: 5px;
        text-align: justify;
    }
    & &__btn, & &__btn--box {
        font-family: $fontFamily;
        padding: 5px;
    }
    @mixin box {
        font-family: $fontFamily;
        padding: 5px;
    }
}
.presupuesto {
    width: 100vw;
    & h1 {
        font-family: $fontFamily;
        font-weight: 900;
        text-decoration: underline;
    }
    & p {
        font-family: $fontFamily;
        text-align: justify;
        margin: 8px;
    }
    & &__btn {
        margin: 10px;
        font-family: $fontFamily;
        border: 1px solid rgb(130, 129, 129);
    }
}
.receta {
    width: 100vw;
    h3 {
        font-family: $fontFamily;
        font-weight: 1000;
        text-align: center;
        font-size: xx-large;
        text-decoration: underline;
    }
    & &__contenedor {
        display: flex;
        border: 1px solid black;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        margin: 5px;
    }
    & &__imagen {
        width: 150px;
        padding: 5px;
    }
    & &__contenido {
        font-family: $fontFamily;
        padding: 5px;
        text-align: justify;
    }
}
@media (min-width: 426px) and (max-width: 768px){
    #carouselExampleCaptions {
        width: 75%;
        margin-left: 95px;
    }
    .bienvenido {
        font-size: 35px;
    }
    h3 {
        font-size: xx-large;
    }
    .producto {
        & .producto__contenedor--col {
            display: flex;
            flex-direction: row;
        }
    }
}
@media (min-width: 769px){
    .navbar-nav {
        margin-left: 25%;
        font-size: 20px;
    }
    .bienvenido {
        width: 100vw;
        font-size: 60px;
    }
    .home {
        width: 100vw;
        .ayelen {
            justify-content: space-around;
            & .ayelen__img {
                width: 30%;
            }
            & .ayelen__desc {
                font-size: x-large;
            }
        }
        & &__carousel {
            display: flex;
            flex-direction: row;
            & &__carousel1 {
                width: 45%;
            }
            & &__carousel2 {
                width: 45%;
            }
        }
    }
    .producto {
        & &__contenedor1 {
            justify-content: space-between;
        }
        &__texto, &__btn, &__btn--box {
            font-size: large;
        }
        & &__contenedor--col {
            margin-left: 165px;
            width: 1100px;
        }
    }
    .presupuesto {
        & p {
            font-size: large;
            margin: 15px;
        }
        & &__btn {
            font-size: large;
        }
    }
    .receta {
        width: 100vw;
        h4 {
            font-weight: 800;
        }
        & &__imagen {
            width: 20%;
        }
        & &__contenido {
            font-size: large;
        }
    }
    .footer {
        & &__estilos {
            p {
                font-size: large;
            }
        }
    }
}


