@import "vars";
@import "header";
@import "footer";

body {
    background-color: $colorBody;
}
.bienvenido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgb(246, 246, 246);
    font-family: $fontFamily;
    font-size: xx-large;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 0px;
    animation: bienvenido 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 @keyframes bienvenido {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
.home {
    width: 100vw;
    & .home__row {
        width: 100vw;
    }
    & .home__carousel {
        width: 100vw;
        margin-bottom: 25px;
        & .home__carousel1 {
            display: flex;
            flex-direction: column;
            margin: 10px;
            padding: 10px;
            width: 100vw;
            & h3 {
                font-family: $fontFamily;
                font-weight: 1000;
                text-align: center;
                font-size: xx-large;
                text-decoration: underline;
            }
        }
    }
}
.producto {
    & &__contenedor1 {
        display: flex;
        border: 1px solid black;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        margin: 5px;
    }
    & &__contenedor2 {
        display: flex;
        flex-direction: row-reverse;
        border: 1px solid black;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        margin: 5px;
    }
    & &__imagen {
        width: 150px;
        padding: 5px;
    }
    & &__texto {
        font-family: $fontFamily;
        padding: 5px;
    }
    & &__btn {
        font-family: $fontFamily;
        padding: 5px;
    }
}
.presupuesto {
    width: 100vw;
    & h1 {
        font-family: $fontFamily;
        font-weight: 900;
        text-decoration: underline;
    }
    & p {
        font-family: $fontFamily;
    }
}