header {
  background-image: url(../Imagenes/fondo-header1.jpeg);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .navbar-brand img {
  width: 125px;
}

header .navbar-nav .nav-link {
  background-color: lightgray;
  color: black;
  border: 1px dotted black;
  font-family: 'Advent Pro', sans-serif;
}

header .navbar-toggler {
  background-color: darkgray;
}

.footer {
  margin-top: 30px;
}

.footer .footer__estilos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid black;
  background-color: #aaaaaa;
  font-family: 'Advent Pro', sans-serif;
}

.footer .footer__logo {
  width: 50px;
}

body {
  background-color: #ffe2e2;
}

.bienvenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  background-color: #f6f6f6;
  font-family: "Advent Pro", sans-serif;
  font-size: xx-large;
  font-weight: 1000;
  text-align: center;
  margin-bottom: 0px;
  -webkit-animation: bienvenido 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: bienvenido 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes bienvenido {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes bienvenido {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.home {
  width: 100vw;
}

.home .home__row {
  width: 100vw;
}

.home .home__carousel {
  width: 100vw;
  margin-bottom: 25px;
}

.home .home__carousel .home__carousel1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 100vw;
}

.home .home__carousel .home__carousel1 h3 {
  font-family: "Advent Pro", sans-serif;
  font-weight: 1000;
  text-align: center;
  font-size: xx-large;
  text-decoration: underline;
}

.home .ayelen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.home .ayelen .ayelen__img {
  width: 45vw;
  border: 1px solid black;
  border-radius: 50%;
}

.home .ayelen .ayelen__desc {
  width: 45vw;
  font-family: "Advent Pro", sans-serif;
  text-align: center;
}

.producto .producto__contenedor1, .producto .producto__contenedor--col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  margin: 5px;
}

.producto .producto__contenedor--col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.producto .producto__imagen {
  width: 150px;
  padding: 5px;
}

.producto .producto__texto {
  font-family: "Advent Pro", sans-serif;
  padding: 5px;
  text-align: justify;
}

.producto .producto__btn, .producto .producto__btn--box {
  font-family: "Advent Pro", sans-serif;
  padding: 5px;
}

.presupuesto {
  width: 100vw;
}

.presupuesto h1 {
  font-family: "Advent Pro", sans-serif;
  font-weight: 900;
  text-decoration: underline;
}

.presupuesto p {
  font-family: "Advent Pro", sans-serif;
  text-align: justify;
  margin: 8px;
}

.presupuesto .presupuesto__btn {
  margin: 10px;
  font-family: "Advent Pro", sans-serif;
  border: 1px solid #828181;
}

@media (min-width: 426px) and (max-width: 768px) {
  #carouselExampleCaptions {
    width: 75%;
    margin-left: 95px;
  }
  .bienvenido {
    font-size: 35px;
  }
  h3 {
    font-size: xx-large;
  }
  .producto .producto__contenedor--col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 769px) {
  .navbar-nav {
    margin-left: 25%;
    font-size: 20px;
  }
  .enlace:hover {
    background: #d867c0;
    color: black;
  }
  .bienvenido {
    width: 100vw;
    font-size: 60px;
  }
  .home {
    width: 100vw;
  }
  .home .ayelen {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .home .ayelen .ayelen__img {
    width: 30%;
  }
  .home .ayelen .ayelen__desc {
    font-size: x-large;
  }
  .producto__texto, .producto__btn, .producto__btn--box {
    font-size: large;
  }
  .presupuesto p {
    font-size: large;
    margin: 15px;
  }
}
/*# sourceMappingURL=styles.css.map */